/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  justify-items: end;
  align-content: space-evenly;
  min-width: 375px;
  max-width: 1024px;
  min-height: 668px;
  background-image: var(--header-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-block-end:1px solid var(--header-decals-color);
  border-inline-start:1px solid var(--header-decals-color);
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-block-start:1px solid var(--header-decals-color);
  border-inline-end:1px solid var(--header-decals-color);
  top: 10px;
  right: 10px;
  position: absolute;
}

.header__theme-menu-button {
  box-sizing: border-box;
  color:var(--header-decals-color);
  width: 70px;
  text-align: center;
  font-family: ' IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border:none;
  background-color: inherit;
}

.header__theme-menu-button:hover {
  box-sizing: border-box;
  outline:1px solid var(--header-decals-color);
}

.header__theme-menu-button:focus-visible {
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid var(--header-decals-color);
}

.header__theme-menu-button_active {
  box-sizing: border-box;
  border:1px solid var(--header-decals-color);
  pointer-events: none;
}

.header__theme-menu-item {
  display: inline-flex;
  height: 26px;
  justify-content: center;
  align-items: center;
}

.rec__text {
  display:var(--rec__text);
  align-items: center;
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-inline-end :40px;
  padding-block-start :10px;
  position: absolute;
}

.rec__text::after {
  content:"";
  display:block;
  width: 9px;
  height: 9px;
  border:1px solid #FF0070;
  filter: drop-shadow(0px 0px 4px #FF0070);
  border-radius:50%;
  background-color:red;
  position: absolute;
  right: 20px;
}

.logo {
  color:var(--logo-color) ;
  text-shadow: 4px 4px 0px var(--logo-text-shadow);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
  place-self: start;
}

.header__text {
  width: 364px;
  max-height: 117px;
  display: inline-block;
  background-color: var(--text-background-color);
  color:var(--header__text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: grid;
  gap: 50px;
  min-width: 375px;
  max-width: 1024px;
  padding: 40px 10px;
}

.text-decor {
  text-decoration: none;
  text-shadow:1px 1px var(--logo-text-shadow) ;
}

.text-decor:hover {
  text-decoration-line: underline;
}

.text-decor:focus {
  outline: 1px solid #F1B2CE ;
}

.main__heading {
  color: var(--main__heading__text);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.main__subtitle {
  color:var(--header__text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background-color:var(--text-background-color);
}

.main__subtitle__under {
  color:var(--header__text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--text-background-color);
}

.section__why {
  display: grid;
  gap:20px;
}

.section__how {
  display: grid;
  gap: 20px;
}

.section__what {
  display: grid;
  gap: 20px;
}

.section__pictures {
  display: grid;
  gap: 10px;
}

.picture__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about {
  display: grid;
  gap:20px;
}

.about__text {
  color:var(--about--text--color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.wrapper__gap {
  display: grid;
  gap: 10px;
}

.wrapper__gapp {
  display: grid;
  gap: 20px;
}

.what__wrapper2 {
  display: grid;
  gap: 10px;
}

.pictures__box {
  width: 100%;
  object-fit: cover;    
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  max-width: 1024px;
  min-height: 668px;
  padding: 10px;
  height: 100vh;
}

.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IBM Plex Mono;
  color:var(--logo-color);
  font-weight: 700;
  text-shadow: 2px 2px 0px var(--logo-text-shadow);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%; 
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

@media (min-width: 767px) {
  .content {
    gap: 80px;
    padding: 60px 20px;
  }
  .header {
    padding: 20px;
  }

  .section__why {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap:23px;
  }
  
  .section__how {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap:23px;
  }

  .section__pictures {
    gap: 20px;
  }

  .main__heading {
    width: 30vw;
  }

  .picture__conteiner {
    display: grid;
    gap: 23px;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
  }

  .pictures__box {
    object-fit: cover;
    height: 100%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec__text {
    padding-inline-end: 50px;
    padding-block-start: 21px;
  }

  .rec__text::after {
    right: 29px;
  }

  }
  
  @media (min-width: 1023px) {
   .header {
      align-content: space-between;
    }
    .logo {
      margin-top: 160px;
      margin-left: -20px;
    }

    .header__text {
      width: 491px;
      height: 70px;
      margin-bottom: 115px;
    }

    .what__wrapper1 {
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    
  .what__wrapper2 {
      display: flex;
      flex-direction: column;
    }

    .header__theme-menu {
      width: 100%;
    }

    .header__theme-menu-list {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }