/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --logo-color: #db00ff;
  --logo-text-shadow: #ff0070;
  --header__text-color: #000028;
  --header-decals-color: #ff0070;
  --hover-opacity-color:rgba(255, 0, 112, 0.40);
  --background-color: #000028;
  --main__heading__text: #ff0070;
  --text-background-color: #ff0070;
  --about--text--color: #f1b2ce;
  --header-image: url(../images/cover-image-dark.png);
  --rec__text: flex;
}
